{% extends "layout.html" %}
{% block body_content %}

{% block head_includes %}

<script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>

{% endblock %}


<div class="container text-container" id="body-container">

  <div class="header-container">
    <h1>Is this the most useless app in the universe?</h1>
  </div>

  <div class="paragraph-container">

    <p>
    Well it is certainly not the most useful one.
    </p>

    <p>
    The randomized bogosort algorithm has an unbounded worst-case time complexity,
    which means the amount of time required to sort a sequence is unknown.
    The uselessness of the bogosort algorithm can easily be understood using an example.
    Lets say you would like to play Chopin's Etude Op.25 No.9 but you have never practiced the piece.
    Lets say there is only one sequence (ignoring dynamics and all the fancy artistic stuff) of notes which is considered the 'correct' way to play the piece.
    Finding this sequence using a bogosort algorithm would work as follows:
    <p>

    <ol>
      <li>Press random piano keys.</li>
      <li>If the piece was not Chopin's Etude Op.25 No.9, go to 1.</li>
    </ol>

    <p>
    This ridiculousness may rightly be dismissed as inefficiency but I find all kinds of dadaistic stupidity quite calming due to their non-belligerent and casual nature.
    Moreover, the simple thought of optimizing the pivots of an in-place quicksort algorithm to cover all possible edge-cases, while sobbingly tinkering with 9 different C++ pointers due to off-by-one errors makes me want to ferociously rip off my cheeks.
    </p>

    <p>
    Speaking of fascinating things, what are the chances of a randomized bogosort finding a permutation where all elements are in ascending order?
    If we have a sequence of 10 integers: \(1, 2, 3, 4, 5, 6, 7, 8, 9, 10\), then the total amount of permutations is: $$10! = 3628800.$$
    If we assume the bogosort algorithm generates any distinct permutation with equal probability, then the probability of hitting the one correct, sorted permutation is approximately: $$\frac{1}{10!} = 2.76\cdot10^{-7} \approx 0.0000003.$$
    I initially planned on sorting sequences starting from \(1, 2, 3, ..., 10\); then \(1, 2, 3, ..., 20\); all the way up to \(1, 2, 3, ..., 100\).
    However, there is some inherent awkwardness with this plan.
    The total amount of permutations of the sequence \(1, 2, 3, ..., 100\) is:  $$100! = 93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000.$$
    which is approximately \(9.33\cdot10^{157}\).
    If we still assume the bogosort algorithm generates any of the \(100!\) permutations with equal probability, then the probability of finding the sorted permutation is approximately: $$\frac{1}{100!} = 9.33\cdot10^{-157} \approx 0.0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003.$$
    </p>

    <p>
    To put things into perspective, consider a lottery where you choose 7 unique numbers out of 40 different choices.
    If exactly these 7 numbers are drawn, you win a shitload of money, also called the jackpot.
    All the different ways of choosing 7 unique numbers from the 40 different choices equals to:
    $${40\choose{7}} = 18643560.$$
    So the probability of choosing exactly the same 7 numbers as you have chosen is approximately:
    $$\frac{1}{40\choose{7}} = 5.4\cdot10^{-8} \approx 0.00000005.$$
    If we call the probability of winning at the lottery \(P_L\), then winning the lottery \(n\) times in a row happens with probability \(P_L^n\).
    If the bogosort algorithm finds a sorted permutation from a sequence of 100 unique integers with probability \(P_B\), then we want to find how large \(n\) must be in order for the probabilities to be equal:
    $$\begin{align}
      P_L^n &= P_B \\[3px]
      n\cdot\log{P_L} &= \log{P_B} \\[3px]
      n &= \frac{\log{P_B}}{\log{P_L}} \\[3px]
      n &= \frac{\log{9.33\cdot10^{-157}}}{\log{5.4\cdot10^{-8}}} \\[3px]
      n &= \frac{\lg{9.33} - 157}{\lg{5.4} -8} \\[3px]
      n &\approx 24.7
      \end{align}$$
    </p>

    <p>
    If you have already won the lottery 24 times in a row and feel that this is nothing, then try watching a <a href="{{ url_for('eternal_sort') }}">bogosort of 10 000 elements</a>. It is rather calming, in fact. Almost like listening to the rain.
    </p>

  </div>

</div>
{% endblock %}
