{% extends "index.html" %}
{% block body_content %}

<div class="container" id="dummy-sort-container">
</div>

<script id="backend-render-context" type="application/json">
{ "columnCount": "{{ column_count }}" }
</script>

<div class="container ">
  <button type="button" onclick="toggleFullScreen()">Fullscreen</button>
</div>

<script src="{{ url_for('static', filename='js/animationWrapper.js') }}"></script>
<script src="{{ url_for('static', filename='js/dummySort.js') }}"></script>
{% endblock %}
