{% extends "index.html" %}
{% block body_content %}

<div class="container" id="dummy-sort-container">
  <div class="caution-prompt-container">
    <div class="container text-container">
      <p>
        An animation containing a shuffle of 10000 columns will be created here.
        It will not be insanely demanding on the cpu but might slow down or freeze the browser on old computers or mobile devices.
      </p>
    </div>
    <button type="button" class="btn btn-default" onclick="createAnimation(this)">
      My browser can handle it / I don't care
    </button>
  </div>
</div>

<script id="backend-render-context" type="application/json">
{ "columnCount": "{{ column_count }}" }
</script>

<!-- <div class="container "> -->
<!--   <button type="button" onclick="toggleFullScreen()">Fullscreen</button> -->
<!-- </div> -->

<script src="{{ url_for('static', filename='js/animationWrapper.js') }}"></script>
<script src="{{ url_for('static', filename='js/dummySort.js') }}"></script>
{% endblock %}
