{% extends "layout.html" %}

{% block head_includes %}

<script src="{{ url_for('static', filename='js/vendor/jquery-3.1.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/underscore-min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/p5.min.js') }}"></script>

{% endblock %}


{% block body_content %}


<div class="container" id="body-container">
  <div class="container" id="react-root"/>
  </div>
</div>


<script id="bogo-data-api" type="application/json">
{
  "bogoId":             "{{ bogo_id }}",
  "bogoStatsUrl":       "{{ bogo_stats_url }}",
  "activeStateUrl":     "{{ active_state_url }}",
  "maxPollingInterval": "{{ max_polling_interval }}"
}
</script>

<script src="{{ url_for('static', filename='js/sketch.js') }}"></script>
<script src="{{ url_for('static', filename='build/ui.min.js') }}"></script>

{% endblock body_content %}

