{% extends "layout.html" %}
{% block body_content %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand active" href="/">
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
      </a>
    </div>
   <ul class="nav navbar-nav">
     <li><a href="{{ url_for('statistics') }}">Statistics</a></li>
     <li><a href="{{ url_for('about') }}">WTF?</a></li>
    </ul>
  </div>
</nav>

<div class="container" id="body-container">

  <div class="container" id="react-root"/>
  </div>

</div>


<script id="bogo-data-api" type="application/json">
{
  "bogoId":           "{{ bogo_id }}",
  "bogoStatsUrl":     "{{ bogo_stats_url }}",
  "minimalApiUrl":    "{{ active_state_url }}"
}
</script>

{% endblock body_content %}
