{% extends "layout.html" %}

{% block head_includes %}
<script src="static/js/vendor/jquery-3.1.1.min.js"></script>
<script src="static/js/vendor/bootstrap.min.js"></script>
<script src="static/js/vendor/underscore-min.js"></script>
<script src="static/js/vendor/p5.min.js"></script>
{% endblock %}


{% block body_content %}
<div class="container" id="body-container">
  <div class="container" id="react-root"/>
  </div>
</div>

<script id="bogo-data-api" type="application/json">
{
  "bogoId": "{{ bogo_id }}",
  "dataUrl": "{{ data_url }}",
}
</script>

<script src="static/js/animationWrapper.js"></script>
<script src="static/build/ui.min.js"></script>
<script src="static/js/main.js"></script>
{% endblock body_content %}

