<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>BOGOBOGOBOGOBOGOBOGOBOGOBOGOBOGOBOGOBOGOBOGOBOGOBOGOBOGOBOGOBOGOBOGOBOGOBOGOBOGOBOGO</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="stylesheet" href="static/css/bootstrap.min.css">
      <link rel="stylesheet" href="static/css/main.css">

      {% block head_includes %}
      {% endblock %}

  </head>
  <body>
      <!--[if lt IE 8]>
          <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->

      <nav class="navbar navbar-default">
        <div class="container">
             <a class="col-xs-2 col-xs-offset-1"
                href="/about"
                style="text-align: right;">WTF?</a>
             <a class="col-xs-2"
                href="/"
                style="text-align: center;">
               <span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
             <a class="col-xs-2"
                href="https://github.com/matiaslindgren/not-enough-bogo"
                style="text-align: left;">Source</a>
        </div>
      </nav>

      {% block body_content %}
      <b>The body_content block was not overridden</b>
      </br>
      <p>Most interesting, it seems that some unknown peculiarities are taking place at the server side.</p>
      {% endblock %}


  </body>
</html>
